@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

/* Some basic universal declarations */

* {
    margin: 0px;
    padding: 0px;
    }

    /* Formatting the style of the web page */
    
    .container {
        display: flex;
        flex-direction: column;
    }

    /* First section of the web page */

    .section_one {
        display: flex;
        flex-direction: column;
        background-color: #388bff;
        height: 65vh;
        font-family: 'Open Sans', sans-serif;
    }
    
    .header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
    }

    .title {
        font-weight: bold;
        font-size: 24px;
        color: white;
    }

    .nav ul {
        display: flex;
        gap: 20px;
    }
  
    li {
        list-style-type: none;
    }
    
    a {
        text-decoration: none;
        color: white;
        font-size: 18px;
    }

    .content_below_header {
        display: flex;
        justify-content: space-evenly;
        margin-top: 50px;
       
    }

    .contentbox {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .leftcontent {
        display: flex;
        flex-direction: column;
    }

    .text_one,
    .text_two {
        margin-bottom: 15px;
        color: white;
    }

    .text_one {
        font-size: 42px;
        font-weight: bolder;
    }


    .text_two {
        font-size: 25px;
    }

    button {
        background-color: #388bff;
        color: white;
        padding: 10px;
        width: 180px;
        font-size: 18px;
        border-color: white;
        border-radius: 15px;
        border-style: ridge;
    }


    /* Second section of the web page */

   .section_two {
       display: flex;
       flex-direction: column;
       font-family: 'Open Sans', sans-serif;
   }

   .title_section_two {
        display: flex;
        justify-content: center;
        font: 36px bolder solid black;
        margin-top: 40px;
        margin-bottom: 40px;
    }

   .figure {
       display: flex;
       justify-content: space-evenly;
       margin-top: 10px;
       margin-bottom: 40px;
   }

   .figure_drawing {
       display: flex;
       flex-direction: column;
       justify-content: center;
       text-align: center;
   }
   
   img {
       height: 320px;
       width: 320px;
    
   }

   .subjects {
    display: flex;
    flex-direction: column;
    padding: 50px;
  }
  
  .box {
    display: flex;
    justify-content: center;
    margin: 10px;
    
  }
  
  .sub_box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 3px solid black;
    border-style: ridge;
    border-radius: 12px;
    padding: 15px;
    width: 200px;
    margin: 5px;
  }
 
  
  .imagemath img {
    margin: 0%;
    padding: 0%;
    height: 40px;
    width: 40px;
  }

  .imagescience img {
    margin: 0%;
    padding: 0%;
    height: 45px;
    width: 45px;
  }

  .imageengineering img,
  .imagecs img {
    margin: 0%;
    padding: 0%;
    height: 45px;
    width: 45px;
  }

  .imagels img {
    margin: 0%;
    padding: 0%;
    height: 55px;
    width: 55px;
  }

  .imageam img {
    margin: 0%;
    padding: 0%;
    height: 35px;
    width: 35px;
  }



    /* Third section of the web page */

   .section_three {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 20px;
    height: 40vh;
    background-color: rgba(236, 235, 235);
    font-family: 'Open Sans', sans-serif;
    }

    .quoter {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }

    /* Forth section of the web page */

    .section_four {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        font-family: 'Open Sans', sans-serif;
    }

    .contenttwo {
        display: flex;
        align-items: center;
        color: #388bff;
        margin-right: 50px;
        font-family: 'Work Sans', sans-serif;
    }

    .getstartedtoday {
        font-size: 4rem;
    }

    .join {
        font-size: 2rem;
        margin-bottom: 15px;
    }

    .buttonsignup button {
        background-color: white;
        color: #388bff;
        border-color: #388bff; ;
        border-radius: 15px;
        border-style: ridge;
        font-family: 'Work Sans', sans-serif;
        border-style: ridge;
        border-radius: 100px;
    }

 

    /* Fifth section of the web page */

       .section_five {
        display: flex;
        flex-direction: column;
        background-color: rgb(236, 235, 235);
        height: 30vh;
        font-family: 'Open Sans', sans-serif;
    }

    .section_five_title {
        display: flex;
        justify-content: center;
        font: 30px bolder solid black;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .hondaimg img {
        width: 200px;
        height: 30px;
    }

    .ucsdimg img {
        width: 220px;
        height: 50px;
    }

    .images {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .textb {
        display: flex;
        justify-content: center;
    }

    .hondaimg,
    .ucsdimg {
        margin: 10px;
    }


    /* Footer of the web page */

    .section_footer {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        height: 70vh;
        color: white;
        background-color: #388bff;
        font-family: 'Open Sans', sans-serif;
    }
    
    .footer_nav_list {
        display: flex;
     
    }
    
    .footer_ms,
    .footer_nav {
        margin-top: 2.5rem;
    }

    .lol  {
        display: flex;
        justify-content: space-evenly;
        height: 5vh;
        color: white;
        background-color: #388bff;
        font-family: 'Open Sans', sans-serif;
    }
 
    

















    /* About Webpage*/

    .container_about {
        display: flex;
        flex-direction: column;

    }

    .section_one_a {
        display: flex;
        background-color: #62a4ff;
        height: 45vh;
    }


    .section_two_a {
        display: flex;
        background-color: white;
        height: 45vh;
    }

    .section_three_a {
        display: flex;
        background-color: #62a4ff;
        height: 45vh;
    }

    .section_four_a {
        display: flex;
        background-color: #ffff;
        height: 45vh;
    }

    .footer_a {
        display: flex;
        background-color: #62a4ff;
        height: 45vh;
    }

  


 